- edit ||= false
- collapsed = (@party.errors.empty? && session[:party_relationships].nil?)
= subtitle :party_relationships, collapsed, t(:relationships)
.section
  %small#party_relationships_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:party_relationships)) unless edit
  #party_relationships{ hidden_if(collapsed) }
    .sub_section
      .tools
        = f.link_to_add(t(:new_is_relationship), :is_party_relationships)
      .caption
        = t(:is_party_relationships)
      .is_party_relationships_fields
        = f.fields_for(:is_party_relationships) do |f|
          = f.hidden_field :is_party, :value => @party
          %ul
            %li
              = f.label t(:is)
              = f.select :relationship, PartyModel::Relationships.constants
            %li
              = f.label t(:of)
              = f.text_field :of_party_id
    .sub_section
      .tools
        = f.link_to_add(t(:new_of_relationship), :of_party_relationships)
      .caption
        = t(:of_party_relationships)
      .of_party_relationships_fields
        = f.fields_for(:of_party_relationships) do |f|
          = f.hidden_field :of_party, :value => @party
          %ul
            %li
              = f.label t(:has)
              = f.text_field :is_party_id
            %li
              = f.label t(:as)
              = f.select :relationship, PartyModel::Relationships.constants
