- address = @party.street_address_for(type)

- unless address.blank?
  // - if Setting.compound_address
  %div
    %b #{t title}
    %br
    = h "#{address.street_name} #{address.street_number}"
    %br
    = h "#{address.postal_code} #{address.city}"
    - unless address.country_code.blank?
      %br
      = h address.country_code
  // - else
  //   %div
  //     %b #{t title}
  //     %br= h(address.full_address).n2br
